
language: node_js

node_js:
  - 8

os:
  - linux

cache:
  directories:
    - ${HOME}/.esy

install:
  - npm install --global esy@0.5.6
  - esy install

before_script:
  - esy local

script:
  - esy test
  - esy js
  - esy native

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  on:
    branch: master

