/* Generic definitions */

html {
  margin: 0 ;
  padding: 0 ;
}

body {
  min-width: 100px ;
  color: #2e3436 ;
  background-color: #eeeeec ;
  margin: 0 ;
  padding: 0 ;
}

/* Specific classes. */

#loadingSVG {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%, -50%) ;
}

#loadingSVGScale {
  transition: .3s ;
}

.loadingStart {
  transform: scale(1, 1) ;
  cursor: progress ;
}

.loadingStop {
  transform: scale(0, 0) ;
}

#response {
  max-width: 1000px ;
  margin: 0 auto ;
}

/* Styling main elements */

.block {
  border: 4px solid #5c3566 ;
  border-radius: 10px ;
  padding: 5px 15px ;
  margin: 5px ;
}

.error {
  border: 4px solid #a40000 ;
  border-radius: 10px ;
  padding: 5px 15px ;
  margin: 5px ;
}

.center {
  text-align: center ;
  margin: auto ;
  overflow-x: auto ;
  width: 100% ;
  white-space: nowrap ;
}

.inlined {
  display: inline ;
}

a {
  color: #75507b ;
  text-decoration: none ;
}

a::after {
  content: " →" ;
  font-weight: bold ;
  opacity: 0 ;
  padding-left: 0px ;
  padding-right: 4px ;
}

a:hover {
  color: #5c3566 ;
}

a:hover::after {
  opacity: 1 ;
  padding-left: 4px ;
  padding-right: 0px ;
  transition: .3s ;
  transition-timing-function: linear;
}

a.previous::after {
  content: none ;
}

a.previous::before {
  content: "← " ;
  font-weight: bold ;
  opacity: 0 ;
  padding-left: 4px ;
  padding-right: 0px ;
}

a:hover::before {
  opacity: 1 ;
  padding-left: 0px ;
  padding-right: 4px ;
  transition: .3s ;
  transition-timing-function: linear;
}

.space {
  margin-left: 1em ;
  margin-right: 1em ;
}

ul {
  list-style-type: none ;
}

ul.bullet li::before {
  content: "•" ;
  color: #75507b ;
  display: inline-block ;
  width: 1em ;
}

table {
  width: 99% ;
  border-collapse: collapse ;
  border-color: #75507b ;
  margin-top: 1.5ex ;
  margin-left: .3em ;
  margin-right: .3em ;
}

tr:nth-child(even) {
  background-color: #eeeeec ;
}

tr:nth-child(odd) {
  background-color: #d3d7cf ;
}

tr:hover {
  background-color: #babdb6 ;
}

th {
  background-color: #5c3566 ;
  color: #eeeeec ;
  font-weight: bold ;
}

td, th {
  border: 2px solid #75507b ;
  padding: 5px ;
}

/* Inputs */

input {
  margin: 1px 1em ;
}

input[type="number"] {
  width: 3em ;
}

.switch {
  position: relative ;
  display: inline-block ;
  cursor: pointer ;
  margin-right: 1em ;
  text-align: center ;
  min-height: 25px ;
  min-width: 42px ;
}

.switch input {
  opacity: 0 ;
  width: 0 ;
  height: 0 ;
}

.slider {
  position: absolute ;
  border-radius: 29px ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  background-color: #babdb6 ;
  transition: .4s ;
  width: 40px ;
  height: 24px ;
}

.slider::before {
  position: absolute ;
  content: "" ;
  height: 16px ;
  width: 16px ;
  border-radius: 50% ;
  left: 4px ;
  bottom: 4px ;
  background-color: #eeeeec ;
  transition: .4s ;
}

.slider + span {
  margin-left: 1em ;
}

input[type="checkbox"]:checked + .slider {
  background-color: #5c3566 ;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #5c3566 ;
}

input[type="checkbox"]:checked + .slider::before {
  transform: translateX(16px) ;
}

input[type="checkbox"] ~ .textswitchon {
  display: none ;
}

input[type="checkbox"]:checked ~ .textswitchon {
  display: inline-block ;
}

input[type="checkbox"] ~ .textswitchoff {
  display: inline-block ;
}

input[type="checkbox"]:checked ~ .textswitchoff {
  display: none ;
}

