html {
  margin: 0 ;
  padding: 0 ;
}

body {
  min-width: 100px ;
  color: #2e3436 ;
  background-color: #eeeeec ;
  margin: 0 ;
  padding: 0 ;
}

.loading {
  position: absolute ;
  top: 50% ;
  left: 50% ;
  transform: translate(-50%, -50%) ;
}

#response {
  max-width: 1000px ;
  margin: 0 auto ;
}

.block {
  border: 4px solid #5c3566 ;
  border-radius: 10px ;
  padding: 5px ;
  margin: 5px ;
}

a {
  color: #75507b ;
  text-decoration: none ;
}

a::after {
  content: " →" ;
  font-weight: bold ;
  opacity: 0 ;
  padding-left: 0px ;
  padding-right: 4px ;
}

a:hover {
  color: #5c3566 ;
}

a:hover::after {
  opacity: 1 ;
  padding-left: 4px ;
  padding-right: 0px ;
  transition: .3s ;
}

